.app__container {
	width: 900px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin: 3rem auto;
}

.app__title {
	font-style: italic;
	font-weight: bold;
}

.app__form input,
button {
	width: 100%;
	padding: 10px;
	font-size: 17px;
	font-style: italic;
	background-color: rgba(243, 232, 232, 0.596);
	border-radius: 10px;
}

.app__form button {
	margin-top: 2px;
	cursor: pointer;
}

.app__form button:hover {
	background-color: rgba(175, 168, 168, 0.884);
	color: white;
}

@media (max-width: 600px) {
	.app__container {
		width: 400px;
	}
	.app__title {
		font-size: 25px;
	}
}
